// Color Palette
$rich-blue: #0128ff;
$violet-blue: #2b00bf;
$cobalt-blue: #0047ab;
$midnight-blue: #0a0d40;
$purple-blue: #6519dd;

$mint-green: #3eb489;
$cyan: #46ffd3;
$ligh-mint: #b6ffbb;

$charcoal: #1d1d1d;
$red-orange: #ff3f34;
$cream: #ffffe4;
$white: #ffffff;
$black: #000000;

// Typography
$font-primary: 'Segoe UI', sans-serif;

// Spacing
$padding-base: 1rem;
$border-radius: 0.5rem;